*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: #428bca;
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}
.testContent{

    
    height: 110px;
    font-size: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px;
    margin: 0;
}

.typeArea{
   padding: 15px;
    
}

#input{
    height: 50px;
    font-size: 30px;
    width: 90%;
    padding: 0;
    border: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
}
#btnStart{
    padding: 2px;
    width: 9%;
    height: 50px;
    box-sizing: border-box;
    font-size: 1rem;
    border: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

#input:disabled{
    background-color: #fbbfc4;
    border: 1px solid #ec6293;
}

table{
    margin: 20px auto;
    background-color: #428bca;
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}
th{
    margin: 10px;
    padding: 5px;
}